/* ====================================================================================== */

@font-face {
    font-family: 'Italic_cursiva';
    src: url(fonts/palatin.ttf) format('truetype');
}

/* ====================================================================================== */

body {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none; 
    color: inherit;
}

/* ====================== Navbar ====================== */

.div_Navbar {
    height: 100px; /* Alto */
    width: 100%; /* Ancho */

    box-shadow: 0 0 30px 10px rgb(0, 0, 0);

    z-index: 1;
}

/* ---------------- General ----------------- */

.nav_Navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%; /* Alto */
    width: 100%; /* Ancho */
}

/* ---------------- Logo SI ----------------- */

.nav_Navbar .Navbar_logo .Navbar_logo_img {
    height: 33px; /* Alto */
    width: auto; /* Ancho */

    margin-right: 150px;
}

/* ---------------- Texto PC ----------------- */

.nav_Navbar .Navbar_PC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin-right: 35px;
    
    font-family: "Verdana";
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 14px;
}

/* ---------------- Logos RD ----------------- */

.nav_Navbar .Navbar_Redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin-right: 20px;
    margin-top: 10px;
}

.nav_Navbar .Navbar_Redes .Navbar_fb_img {
    height: 30px; /* Alto */
    width: auto; /* Ancho */
}

.nav_Navbar .Navbar_Redes .Navbar_in_img {
    height: 30px; /* Alto */
    width: auto; /* Ancho */
}

.nav_Navbar .Navbar_ubicacion {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
    padding: 10px 10px 10px;
    gap: 5px;

    border: 1px solid #673e69;
    color: #3d3d3d;

    font-family: "Verdana";
    text-transform: uppercase;
    font-size: 16px;
}

/* ====================== Carrousel ====================== */

/* ---------------- Div contenedor ----------------- */
.carousel-container {
    width: 66%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    background: url(Images/menu-bg.png) repeat #a19f9a;
    overflow: hidden;
}

.carousel-container:hover {
    cursor: pointer;
}

/* ---------------- Elementos ----------------- */

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-width: 100%;
    justify-content: space-between;
    background-size: cover;
}

.slide {
    min-width: 100%;
}

/* ---------------- Dots ----------------- */

.carousel-dots {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(77, 77, 77, 0.5);
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #000000;
}

/* ---------------- Circulos ----------------- */

.circle-container {
    position: absolute;
    left: 0;
    margin-left: 5%;

    display: flex;
    justify-content: left;

    height: 100%; /* Alto */
    width: 35%; /* Ancho */
}

.circulo_m {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 150px; 
    left: 160px;


    width: 175px; 
    height: 175px; 

    background-color: #673e69e7;
    border-radius: 50%; 

    color: white;
    font-family: "Verdana";

    z-index: 5;
}

.circulo_m:hover {
    background-color: #673e69;
}

.circulo_r {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 97px; 
    left: 13px;


    width: 175px; 
    height: 175px; 

    background-color: #d80f0fe2;
    border-radius: 50%; 

    color: white;
    font-family: "Verdana";

    z-index: 4;
}

.circulo_r:hover {
    background-color: rgb(180, 14, 14);
    z-index: 6;
}

.circulo_g {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 75px; 
    left: 280px;


    width: 125px; 
    height: 125px; 

    background-color: #979696e8;
    border-radius: 50%; 

    color: white;
    font-family: "Verdana";

    z-index: 4;
}

.circulo_g:hover {
    background-color: #979696;
    z-index: 6;
}

/* ====================== Sección 03 ====================== */

.sec_03 {
    height: 1855px;
    width: 66%;            /* Ancho */
    overflow: hidden;
    position: relative;

    /* display: flex;
    justify-content: center; 
    align-items: center; */

    margin: 0 auto;
}

/* ---------------- Menu ----------------- */
.menu {
    height: 325px;
    width: 100%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    
    background: url(Images/menu-bg.png) repeat #a19f9a;
    overflow: hidden;
}

#menu_img {
    margin-left: 130px;
}

.menu_text {
    height: 70%;
    width: 40%;

    margin-right: 100px;
}

.menu_tittle {
    margin-bottom: 0;

    font-size: 34px;
    font-family: "Verdana";
    color: #ffffff;
    font-weight: 500;
}

.menu_parraf {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #ffffff;
    font-size: 20px;
    font-family: "Palatino";
    font-style: italic;
    font-weight: 500;
}

.menu_button {
    padding: 5px;
    margin-top: 5px;
    display: inline-block;

    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border: 1px solid #ffffff; 

    font-family: "Verdana";
    font-size: 13px;
    color: #ffffff; 
}


/* ---------------- Promociones ----------------- */
.promociones {
    height: 425px;
    width: 100%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between ;
    align-items: center;

    margin: 0 auto;
    
    background: url(Images/promo-bg.png) repeat #a19f9a;
    overflow: hidden;
}

#promociones_img {
    margin-right: 50px;
}

.promociones_text {
    height: 70%;
    width: 40%;

    margin-left: 120px;
    
    text-align: right;
}

.promociones_tittle {
    margin-bottom: 0;

    font-size: 34px;
    font-family: "Verdana";
    color: #ffffff;
    font-weight: 500;
}

.promociones_parraf {
    margin-top: 10px;
    margin-bottom: 15px;

    color: #ffffff;
    font-size: 20px;
    font-family: "Palatino";
    font-style: italic;
    font-weight: 500;
}

.promociones_button {
    padding: 5px;
    margin-top: 5px;
    display: inline-block;

    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border: 1px solid #ffffff; 

    font-family: "Verdana";
    font-size: 13px;
    color: #ffffff; 
}

/* ---------------- Teppanyaki ----------------- */
.teppan {
    height: 425px;
    width: 100%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content:space-between ;
    align-items: center;

    margin: 0 auto;
    
    background: url(Images/teppan-bg.png) repeat #f5f4ef;
    overflow: hidden;
}

.teppan_text {
    height: 70%;
    width: 100%;

    margin-top: 150px;
    margin-left: 50px;
}

.teppan_tittle {
    margin-bottom: 0;

    font-size: 34px;
    font-family: "Verdana";
    color: #542c56;
    font-weight: 500;
}

.teppan_parraf {
    margin-top: 10px;
    margin-bottom: 15px;

    color: #542c56;
    font-size: 20px;
    font-family: "Palatino";
    font-style: italic;
    font-weight: 500;
}

.teppan_button {
    padding: 5px;
    margin-top: 5px;
    display: inline-block;

    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border: 1px solid #542c56; 

    font-family: "Verdana";
    font-size: 13px;
    color: #542c56; 
}

/* ---------------- Sucursales ----------------- */
.sucursales {
    height: 280px;
    width: 100%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;

    margin: 0 auto;
    
    background: url(Images/sucursales-bg.png) repeat #f5f4ef;
    overflow: hidden;
}

#sucursales_img {
    margin-left: 80px;
}

.sucursales_text {
    height: 70%;
    width: 100%;

    margin-top: 70px;
    margin-left: 0;
}

.sucursales_titulo_pos {
    display: flex;
}

#sucursales_img_ubi {
    height: 50px;
    margin-right: 5px;
}

.sucursales_tittle {
    margin-bottom: 0;
    margin-top: 10px;

    font-size: 34px;
    font-family: "Verdana";
    font-weight: 500;
    line-height: 1.1;
    color: #d0112b;
}

.sucursales_parraf {
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 20px;
    font-family: "Palatino";
    font-style: italic;
    font-weight: 500;

    color: #888888;
}

/* ---------------- Calidad ----------------- */
.calidad {
    height: 400px;
    width: 100%;            /* Ancho */
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content:space-between;
    align-items: center;

    margin: 0 auto;
    
    background: url(Images/quality-bg.png) repeat #a19f9a;
    overflow: hidden;
}

#calidad_img {
    height: 100%;
    width: auto;
} 

.calidad_text {
    height: 70%;
    width: 44%;

    margin-left: 7%;
}

.calidad_tittle {
    margin-bottom: 10px;

    font-size: 34px;
    font-family: "Verdana";
    font-weight: 500;
    line-height: 1.1;
    color: #d0112b;
}

.calidad_parraf {
    margin-top: 0;

    font-size: 20px;
    font-family: "Palatino";
    font-style: italic;
    font-weight: 500;

    color: #3d3d3d;
}

.calidad_button {
    padding: 5px;
    margin-top: 5px;
    display: inline-block;

    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border: 1px solid #d0112b; 

    font-family: "Verdana";
    font-size: 13px;
    color: #d0112b;
}

/* ====================== Footer ====================== */
.final {
    width: 100%;
    min-height: 300px;
    background: url(Images/footer-bg.png) repeat-x bottom #ffffff;
}

.final_div {
    height: 65px;
}

/* ---------------- Buttons ----------------- */
.final_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final_buttons_1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 100px;
}
.final_buttons_1:hover {
    text-decoration: underline;
}

.final_buttons_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.final_buttons_2:hover {
    text-decoration: underline;
}

.final_buttons_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.final_buttons_3:hover {
    text-decoration: underline;
}

.final_buttons_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.final_buttons_4:hover {
    text-decoration: underline;
}

.final_buttons_txt {
    margin-left: 5px;

    font-size: 17px;
    color: #888888;
    font-family: "Verdana";
}

/* ---------------- Aviso de privacidad ----------------- */
.final_priv {
    margin-top: 25px;
    text-align: center;

    color: #542c56;
    text-decoration: underline;
    font-family: "Arial";
    font-size: 15px;
}

.final_credits {
    display: flex;
    justify-content: space-between;
}
/* ---------------- by ----------------- */
.final_by {
   display: flex;
   justify-content: end;

   margin-top: 10px;
}

.final_by_txt_1 {
    margin-right: 5px;

    font-size: 10px;
    font-family: "Arial";
 }

 .final_by_txt_2 {
    margin-right: 15px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Arial";
 }

/* ---------------- derechos ----------------- */
.final_derechos {
    display: flex;
    justify-content: left;
    
    margin-top: 15px;
    margin-left: 15px;
}

.final_derechos_txt {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    font-family: "Arial";
}

.final_derechos_img {
    display: flex;
    justify-content: center;
    align-items: center;
}