@media screen and (max-width: 768px) { 
    
    .div_Navbar {
        width: 100%;
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }

    .Navbar_Redes {
        display: none;
        width: 0;
        height: 0;
    }

    .Navbar_fb_img {
        display: none;
        width: 0;
        height: 0;
    }
    .Navbar_in_img {
        display: none;
        width: 0;
        height: 0;
    }

    .Navbar_PC {
        display: none;
        width: 0;
        height: 0;
    }

    .nb_txt {
        font-size: 0;
    }

    .carousel-container {
        width: 100%;            /* Ancho */
    }

    .sec_03 {
        width: 100%;            /* Ancho */
    }

    .final_buttons_2 {
        display: none;
        width: 0;
        height: 0;
    }

    .final_buttons_4 {
        display: none;
        width: 0;
        height: 0;
    }
}