.conteiner_frames {
    
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 100px;
}

.img_ins {
    margin-right: 100px;
}

.conteiner_frames_publi {
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 100px;
}

.img_face {
    height: 300px;
    width: auto;

    margin-right: 100px;
}
