
.sec_03_menu {
    height: 1300px;
    width: 51%;            /* Ancho */
    overflow: hidden;
    position: relative;

    /* display: flex;
    justify-content: center; 
    align-items: center; */

    margin: 0 auto;
}

/* ====================== Fila 1 ====================== */
.arriba {
    margin-top: 45px;
}

.sec_03_fila_01 {
    display: flex;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: 200px;
}

.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
}

.txt {
    text-align: center;

    height: 52px;
    margin: 30% 0;

    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    color: #eee;
    font-family: "Verdana";
    font-size: 16px;
}

.entrantes {
    background-color: #8c858c;
}

.entrantes:hover {
    background: url(/Images/Menu/Edamame.png) 30% 30%;
    cursor: pointer;
}

.Yakitori {
    background-color: #b9b8b3;
}

.Yakitori:hover {
    background: url(/Images/Menu/yakitori.png) 30% 30%;
    cursor: pointer;
}

.Kushiage {
    background-color: #c1c6c9;
}

.Kushiage:hover {
    background: url(/Images/Menu/Kushiage-queso.png) 30% 30%;
    cursor: pointer;
}

.Ensaladas {
    background-color: #98928d;
}

.Ensaladas:hover {
    background: url(/Images/Menu/kanitai.png) 30% 30%;
    cursor: pointer;
}

/* ====================== Fila 2 ====================== */

.Sopas {
    background-color: #c4c7be;
}
.Sopas:hover {
    background: url(/Images/Menu/sopas.png) 30% 30%;
    cursor: pointer;
}

.Arraces {
    background-color: #b5b7b1;
}
.Arraces:hover {
    background: url(/Images/Menu/Gohan-Especial.png) 30% 30%;
    cursor: pointer;
}

.Noodles {
    background-color: #8c858c;
}
.Noodles:hover {
    background: url(/Images/Menu/NOODLE-So-su-udon.png) 30% 30%;
    cursor: pointer;
}

.Teppanyaki {
    background-color: #b9b8b3;
}
.Teppanyaki:hover {
    background: url(/Images/Menu/Tepanyaki-Mixto.png) 30% 30%;
    cursor: pointer;
}

/* ====================== Fila 3 ====================== */

.Rollos {
    background-color: #c1c6c9;
}
.Rollos:hover {
    background: url(/Images/Menu/Cuauhtemitto.png) 30% 30%;
    cursor: pointer;
}

.Makis {
    background-color: #98928d;
}
.Makis:hover {
    background: url(/Images/Menu/Filadelfia-especial.png) 30% 30%;
    cursor: pointer;
}

.Tempura {
    background-color: #c4c7be;
}
.Tempura:hover {
    background: url(/Images/Menu/TEMPU-Camaron.png) 30% 30%;
    cursor: pointer;
}

.Nigiri {
    background-color: #b5b7b1;
}
.Nigiri:hover {
    background: url(/Images/Menu/Nigiri-sake-fresco.png) 30% 30%;
    cursor: pointer;
}

/* ====================== Fila 4 ====================== */

.Sashimi {
    background-color: #8c858c;
}
.Sashimi:hover {
    background: url(/Images/Menu/Sashimi-salmon_grueso.png) 30% 30%;
    cursor: pointer;
}

.Salsas {
    background-color: #b9b8b3;
}
.Salsas:hover {
    background: url(/Images/Menu/Salsa-Tampico.png) 30% 30%;
    cursor: pointer;
}

.Postres {
    background-color: #c1c6c9;
}
.Postres:hover {
    background: url(/Images/Menu/Camelado.png) 30% 30%;
    cursor: pointer;
}

.Gunkan {
    background-color: #98928d;
}
.Gunkan:hover {
    background: url(/Images/Menu/GINKAN_MASAGO.png) 30% 30%;
    cursor: pointer;
}

/* ====================== Fila 5 ====================== */

.Temakis {
    background-color: #c4c7be;
}
.Temakis:hover {
    background: url(/Images/Menu/Temaki_especial.png) 30% 30%;
    cursor: pointer;
}

.Platos_fuertes {
    background-color: #b5b7b1;
}
.Platos_fuertes:hover {
    background: url(/Images/Menu/MASIOSARE.png) 30% 30%;
    cursor: pointer;
}
